body {
    font-family: Arial, sans-serif;
    background-color: #579ff7;
    margin: 0;
    padding: 20px;
}

h1 {
    color: white;
    text-align: center;
}

h4 {
    color:  #a66b30;
}

p {
    color: lightgreen;
    line-height: 1.6;
}

a {
    color: yellow ! important;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

button {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1558b0;
}
