
nav {
    background-color: rgb(0, 0, 104);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
   
    
}
body{
    background-color:#579ff7;
    margin: 0px;
    height: 230vh;

}
.Home{
    color:white; 
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
}
.resource{
    color:white; 
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
}
.Chatbox{
    color:white; 
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
}

img {
    width: 70px;
}

#logo{
    position: absolute;
    left: 55px;
    top: 4px;
    border-radius: 50%;
}
#statment{
    color: white;
    font-size: 25px;
    border-style: dashed;
    border-color: darkblue;
    position: absolute;
    width: 500px;
    top: 730px;
    left: 290px;
    padding: 10px;
}
#headerPic{
    position: absolute;
    width: 500px;
    top: 130px;
    left: 750px;
}
#bigText{
    position: absolute;
    left: 300px;
    top: 210px;
    font-size: 60px;
}
#smallText{
    position: absolute;
    left: 260px;
    top: 310px;
    font-weight: bold;
    font-size: 20px;
}
#codingImg{
    position: absolute;
    top: 750px;
    left: 1000px;
    width: 200px;
    border-style: dashed;
    border-color: darkblue;
}
#pngPic{
    position: absolute;
    width: 650px;
    top: 1250px;
    left: 420px;
}
#textworld{
    position: absolute;
    top: 1210px;
    left: 620px;
    font-weight: bolder;
    font-size:20px;
}
#line1{
    border-style: solid;
    width: 1000px;
    position: absolute;
    left: 270px;
    top: 600px;
}
#line2{
    border-style: solid;
    width: 1000px;
    position: absolute;
    left: 300px;
    top: 1070px;
}

.form-container, h1, h3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}